.DS_Store
*.pkg/
*.zip
*.dmg
*.o
*.tmp
a.out
pkgroot/
build/
xcuserdata/
*.mode1
*.mode1v3
*.pbxuser
files/prefpane/output/checkbox.xml
src/core/bridge/keycode/output
src/core/bridge/config/output
pkginfo/Info.plist
src/core/kext/Info.plist
src/core/server/Info.plist
src/util/KeyDump/Info.plist
src/util/cli/Info.plist
src/util/multitouchextension/Info.plist
src/util/prefpane/Info.plist
src/util/uninstaller/Info.plist
src/util/updater/Info.plist
