<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.pqrs.KeyRemap4MacBook.autosave</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Applications/KeyRemap4MacBook/scripts/autosave.sh</string>
    </array>
    <key>LowPriorityIO</key>
    <true/>
    <key>StartInterval</key>
    <integer>300</integer>
  </dict>
</plist>
