<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-gui-script minSpecVersion="1">
  <title>KeyRemap4MacBook PKGVERSION</title>
  <volume-check>
    <allowed-os-versions>
      <os-version min="10.9"/>
    </allowed-os-versions>
  </volume-check>
  <!--
      Do not specify <domains>.
      Installer does not show "OS X version X.Y.Z or later is required" message when <domains> exists.
      <domains enable_anywhere="false" enable_currentUserHome="false" enable_localSystem="true" />
  -->

  <pkg-ref id="org.pqrs.driver.KeyRemap4MacBook"/>
  <options customize="never" require-scripts="false"/>
  <choices-outline>
    <line choice="default">
      <line choice="org.pqrs.driver.KeyRemap4MacBook"/>
    </line>
  </choices-outline>
  <choice id="default"/>
  <choice id="org.pqrs.driver.KeyRemap4MacBook" visible="false">
    <pkg-ref id="org.pqrs.driver.KeyRemap4MacBook"/>
  </choice>
  <pkg-ref id="org.pqrs.driver.KeyRemap4MacBook" version="PKGVERSION" onConclusion="RequireRestart">Installer.pkg</pkg-ref>
</installer-gui-script>
